[submodule "tea"]
	path = tea
	url = https://github.com/FlashDrag/tea
[submodule "houston"]
	path = houston
	url = https://github.com/FlashDrag/houston
[submodule "piedpiper"]
	path = piedpiper
	url = https://github.com/FlashDrag/piedpiper
[submodule "coders_coffeehouse"]
	path = coders_coffeehouse
	url = https://github.com/FlashDrag/coders_coffeehouse.git
[submodule "love-running"]
	path = love-running
	url = https://github.com/FlashDrag/love-running.git
[submodule "love-maths"]
	path = love-maths
	url = https://github.com/FlashDrag/love-maths.git
[submodule "love-sandwiches"]
	path = love-sandwiches
	url = https://github.com/FlashDrag/love-sandwiches
[submodule "whiskey-drop"]
	path = whiskey-drop
	url = https://github.com/FlashDrag/whiskey-drop
[submodule "js-validator"]
	path = js-validator
	url = https://github.com/FlashDrag/js-validator
[submodule "simon-memory-game"]
	path = simon-memory-game
	url = https://github.com/FlashDrag/simon-memory-game
[submodule "thorin-flask-app"]
	path = thorin-flask-app
	url = https://github.com/FlashDrag/thorin-flask-app
[submodule "flask-task-manager"]
	path = flask-task-manager
	url = https://github.com/FlashDrag/flask-task-manager
[submodule "django-to-do-app"]
	path = django-to-do-app
	url = https://github.com/FlashDrag/django-to-do-app
[submodule "django-blog"]
	path = django-blog
	url = https://github.com/FlashDrag/django-blog
[submodule "resume-pavlo-myskov"]
	path = resume-pavlo-myskov
	url = https://github.com/FlashDrag/resume-pavlo-myskov
[submodule "boutique-ado"]
	path = boutique-ado
	url = https://github.com/FlashDrag/boutique-ado
